<div class="backgroun_color">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                    <i class="fas fa-map-marker-alt icon3">&nbsp;&nbsp;70 Housing Board Karond, Bhopal, Madhya Pradesh 462038</i><hr>
                    <i class="fas fa-envelope icon4">&nbsp;&nbsp;qwerty@gmail.com</i><hr>
                    <i class="fas fa-phone icon4">&nbsp;&nbsp;9685791404</i><hr>
            </div>

            <div class="col-lg-6">
                
                <img src="assets\image\RK.png">
                <hr><hr>
                <!-- <form class="form">
                <div class="container mt-5">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Enter Mobile Number" aria-label="Enter text" aria-describedby="button-addon">
                      <a href=""><button class="btn btn-primary" type="button" id="button-addon">Button</button></a>
                    </div>
                  </div>
                </form> -->

                <a href="https://www.whatsapp.com"><i class="fab fa-whatsapp whaticon"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook faceicon"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram instaicon"></i></a>
               
            </div>
        </div>
    </div>
</div> 
