<div class="div1">
    <div class="container">
        <div class="row">
            <h1>Contact Information</h1>
            <div class="col-lg-4 icon"> 
                <i class="fas fa-map-marker-alt"></i>
                <p>Location</p><br>
                <h2>70 Housing Board Karond, Bhopal, Madhya Pradesh 462038</h2>
            </div>

            <div class="col-lg-4 icon"> 
                <i class="fas fa-phone"></i>
                <p>Contact Number</p><br>
                <h2>9685791404</h2>
                <h2>8839328386</h2>
            </div>

            <div class="col-lg-4 icon"> 
                <i class="fas fa-envelope"></i>
                <p>Email Address</p><br>
                <h2>xyz@gmail.com</h2>
                <h2>qwerty@gmail.com</h2>
            </div>
        </div>
    </div>
</div>