<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 p-5">

            <h1 class="h1 p-5">Explore the Type of Cabs We Offer</h1>
        
        <div class="col-lg-12">
            <mat-tab-group animationDuration="2000ms">
                <mat-tab label="Luxury Cars">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 p-5">
                                <h2 class="font_bold">Luxury Cars - 14/KM</h2>
                                <h3 class="font_align">Coveted for their unmatched blend of luxury, comfort, and advanced features, luxury cars elevate every journey into a realm of unparalleled sophistication and convenience, ensuring a driving experience that is both indulgent and supremely comfortable.</h3>
                                <hr>
                                <div class="car_icon">
                                    <i class="fas fa-shopping-bag car_icon">3 Bags</i>
                                    <i class="fas fa-car car_icon">4 Seats</i>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <img class="car_img" src="assets\image\Sedan1.png"> 
                            </div>
                        </div>
                    </div>
                </mat-tab>
                 
                <mat-tab label="Hyundai Creta">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 p-5">
                                <h2 class="font_bold">Hyundai Creta - 15/KM</h2>
                                <h3 class="font_align">Embark on your next adventure with our exclusive offer to experience the Hyundai Creta, where modern design meets exceptional comfort and performance, ensuring an unforgettable journey with every ride</h3>
                                <hr>
                                <div class="car_icon">
                                    <i class="fas fa-shopping-bag car_icon">3 Bags</i>
                                    <i class="fas fa-car car_icon">4 Seats</i>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <img class="Creta" src="assets\image\Creta.png"> 
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Innova Crysta">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 p-5">
                                <h2 class="font_bold">Innova Crysta - 20/KM</h2>
                                <h3 class="font_align">Discover ultimate comfort and versatility with our Innova Crysta rentals. Perfect for family vacations, business trips, or group outings, the Innova Crysta offers spacious interiors, advanced features, and reliable performance, ensuring a comfortable and enjoyable journey for all passengers.</h3>
                                <hr>
                                <div class="car_icon">
                                    <i class="fas fa-shopping-bag car_icon">3 Bags</i>
                                    <i class="fas fa-car car_icon">4 Seats</i>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <img src="assets\image\Innova.png"> 
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Swift DZire">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 p-5">
                                <h2 class="font_bold">Swift DZire-- 16/KM</h2>
                                <h3 class="font_align">Discover unparalleled comfort and reliability with our exclusive offer to ride in the Swift DZire, a compact sedan renowned for its fuel efficiency, spacious interior, and seamless performance, making every drive a delightful experience.</h3>
                                <hr>
                                <div class="car_icon">
                                    <i class="fas fa-shopping-bag car_icon">3 Bags</i>
                                    <i class="fas fa-car car_icon">4 Seats</i>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <img src="assets\image\Swift.png"> 
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Honda City">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 p-5">
                                <h2 class="font_bold">Honda City - 19/KM</h2>
                                <h3 class="font_align">Elevate your driving experience with our exclusive offer to rent the Honda City, renowned for its sleek design, superior comfort, and advanced features, ensuring a smooth and enjoyable ride for every journey.</h3>
                                <hr>
                                <div class="car_icon">
                                    <i class="fas fa-shopping-bag car_icon">3 Bags</i>
                                    <i class="fas fa-car car_icon">4 Seats</i>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <img class="honda" src="assets\image\Honda_City.png"> 
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Vintage Cars">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 p-5">
                                <h2 class="font_bold">Vintage Cars - 18/KM</h2>
                                <h3 class="font_align">Step back in time and experience the allure of yesteryears with our collection of vintage cars available for rent. Perfect for weddings, special events, or nostalgic road trips, our vintage cars offer timeless elegance and charm for an unforgettable journey through history.</h3>
                                <hr>
                                <div class="car_icon">
                                    <i class="fas fa-shopping-bag car_icon">3 Bags</i>
                                    <i class="fas fa-car car_icon">4 Seats</i>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <img class="vintage" src="assets\image\Vintage.png"> 
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Tempo Traveller">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 p-5">
                                <h2 class="font_bold">Tempo Traveller - 20/KM</h2>
                                <h3 class="font_align">Embark on group adventures in style and comfort with our Tempo Traveller rentals. Spacious, reliable, and equipped with modern amenities, our Tempo Travellers offer the perfect transportation solution for family trips, corporate outings, or group excursions, ensuring a memorable and hassle-free journey for all passengers.</h3>
                                <hr>
                                <div class="car_icon">
                                    <i class="fas fa-shopping-bag car_icon">3 Bags</i>
                                    <i class="fas fa-car car_icon">4 Seats</i>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <img class="car_img" src="assets\image\Tempo.png"> 
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Volvo Bus">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 p-5">
                                <h2 class="font_bold">Volvo Bus - 55/KM</h2>
                                <h3 class="font_align">Experience the epitome of luxury and safety with our Volvo Bus rentals. Ideal for large groups, corporate events, or leisurely tours, our Volvo Buses offer unmatched comfort, advanced features, and a smooth ride, ensuring a memorable and enjoyable journey for all passengers.</h3>
                                <hr>
                                <div class="car_icon">
                                    <i class="fas fa-shopping-bag car_icon">3 Bags</i>
                                    <i class="fas fa-car car_icon">4 Seats</i>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <img class="car_img" src="assets\image\Volvo.png"> 
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        </div>
    </div>
</div>


<div class="container backgroud p-5">
    <div class="row">
        <div class="col-lg-3">
            <mat-card class="example-card">
                <i class="material-icons service_icon">thumb_up</i>
                <mat-card-content>
                    <h1 class="service_text">Customer Service</h1>
                    <hr>
                    <p>It's our top priority to meet & exceed your 
                    expectations every time. Our drivers are 
                    experienced and well versed & ensure a pleasant ride.</p>
                </mat-card-content>
            </mat-card>   
        </div>

        <div class="col-lg-3">
            <mat-card class="example-card">
                <i class="material-icons service_icon">schedule</i>
                <mat-card-content>
                    <h1 class="service_text">24/7 Service</h1>
                    <hr>
                    <p>It's our top priority to meet & exceed your 
                    expectations every time. Our drivers are 
                    experienced and well versed & ensure a pleasant ride.</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-lg-3">
            <mat-card class="example-card">
                <i class="material-icons service_icon">settings</i>
                <mat-card-content>
                    <h1 class="service_text">Low-Cost:</h1>
                    <hr>
                    <p>It's our top priority to meet & exceed your 
                    expectations every time. Our drivers are 
                    experienced and well versed & ensure a pleasant ride.</p>
                </mat-card-content>
            </mat-card>   
        </div>

        <div class="col-lg-3">
            <mat-card class="example-card">
                <i class="material-icons service_icon">payment</i>
                <mat-card-content>
                    <h1 class="service_text">Secure Payment</h1>
                    <hr>
                    <p>It's our top priority to meet & exceed your 
                    expectations every time. Our drivers are 
                    experienced and well versed & ensure a pleasant ride.</p>
                </mat-card-content>
            </mat-card>   
        </div>
    </div>
</div>