
    <div class="container-fluid">
        <div class="row">
            <h1 class="p-5">Any Where Any Time</h1>
            <div class="col-md-12">
                <div class="item">
                    <div class="slide" *ngFor="let slide of slides; let i = index" [class.active]="i === currentSlide">
                        <img [src]="slide.image" alt="Slide {{i}}">
                        <div class="text-overlay">
                            <h2>{{ slide.title }}</h2>
                            <p>{{ slide.description }}</p>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
